# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java 
5. C/C++

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy 
4. Pandas
5. Matplotlib 
6. Keras
7. SciKit-Learn
8. PyTorch
0. Scrapy

| Data Science Tools |
| :----------------- |
| Jupyter            |
| Apache Spark       | 
| TensorFlow         | 
| SAS                |

### Below are a few examples of evaluating arithmetic expressions in Python
$ 8 + 8 = 2 * 8 $

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#his will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

Objectives:
- Create a Jupyter Notebook
- Insert code and markdown cells
- Share your notebook through GitHub

## Author

Mohammad Nezam bin Ma'at